[submodule "AquaZFS"]
	path = AquaZFS
	url = https://github.com/RethinkFS/AquaZFS
[submodule "ExtFS"]
	path = ExtFS
	url = https://github.com/RethinkFS/ExtFS
[submodule "aquafs-plugin"]
	path = aquafs-plugin
	url = https://github.com/RethinkFS/aquafs-plugin
[submodule "docs"]
	path = docs
	url = https://github.com/RethinkFS/docs
[submodule "paper"]
	path = paper
	url = https://github.com/RethinkFS/paper
[submodule "liburing4cpp"]
	path = liburing4cpp
	url = https://github.com/RethinkFS/liburing4cpp
